services:
  app:
    image: ghcr.io/cresterida/ai-rag-poc:latest
    ports:
      - "8082:8082"
    environment:
      - INFINISPAN_HOSTS=infinispan:11222
      - GEMINI_API_KEY=${GEMINI_API_KEY}
      - GEMINI_PROJECT_ID=${GEMINI_PROJECT_ID}
    depends_on:
      - infinispan
    networks:
      - rag-network

  infinispan:
    image: infinispan/server:15.1
    ports:
      - "11222:11222"
    environment:
      - USER=admin
      - PASS=password
    networks:
      - rag-network

networks:
  rag-network:
    driver: bridge
