services:
  app:
    image: ghcr.io/cresterida/ai-rag-poc:latest
    ports:
      - "8080:8080"
    environment:
      - INFINISPAN_HOSTS=infinispan:11222
    depends_on:
      - infinispan

  infinispan:
    image: infinispan/server:15.1
    ports:
      - "11222:11222"
    environment:
      - USER=admin
      - PASS=password
